body{
    font-family: miller-display, monospace;
    background-color: theme-color(white);
}

.content-wrap{
    //padding-top: 100px;
    min-height: 100vh;
}

h2{
    font-size: 1.5em;
    margin-bottom: $grid-gutter;
    font-size: 1.2em;
    text-transform: uppercase;
    border-bottom: 1px solid grey;
}

h5{
    font-family: ApercuPro, sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    color: theme-color(darkgrey);
}

a{
    text-decoration: underline;
    color: inherit;


    &.button{
        display: inline-block;
        font-family: ApercuPro, sans-serif;
        background-color: theme-color(black);
        color: theme-color(white);
        padding: 1em 2em;
        border-radius: 2.5em;
        text-transform: uppercase;
        text-decoration: none;
        transition: .25s;

        &:hover{
            text-decoration: none;
            background-color: theme-color(primary);
        }
    }
}

img{
    max-width: 100%;
    height: auto;
}

#podcastPlayer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 99;
    color: theme-color(white);
    background-color: theme-color(primary);
    padding: $grid-gutter / 2;
    transform: translateY(100%);
    transition: .5s;

    &.active{
        transform: translateY(0);
    }

    
    .fa-pause{
        display: none;
    }
    
    &[data-status="play"]{
        .fa-play{
            display: none;
        }
        
        .fa-pause{
            display: inline-block;
        }
    }
    
    
    a{
        cursor: pointer;
        transition: .25s;
        text-decoration: none;
        
        &:hover{
            opacity: .8;
            color: theme-color(white);
        }
    }

    .container{
        display: flex;
        flex-flow: row wrap;
    }
    
    .title{
        padding-bottom: 10px;
        flex: 1 100%;
    }
    
    .playback{
        margin-right: $grid-gutter;

        a{
            margin-right: $grid-gutter / 2;
        }
    }

    .status{
        flex: 1;
        margin-right: $grid-gutter;
        display: flex;
        justify-content: center;

        .timing{
            width: 100px;
            text-align: right;
            padding-right: 10px;
        }

        .playbar{
            flex: 1;
        }
    }

    progress{
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;

        width: 100%;
        height: 20px;
        padding: 9px 0;
        background-color: transparent;
        
        &::-webkit-progress-bar {
            background-color: theme-color(darkgrey);
            height: 2px;
        }
        
        &::-webkit-progress-value {
            position: relative;
            height: 2px;
            background-color: theme-color(white);

            &::after {
                content: '';
                width: 10px;
                height: 10px;
                position: absolute;
                border-radius: 100%;
                right: 0px;
                top: 1px;
                background-color: theme-color(white);
            }
        }

    }

    .volume-wrap{
        position: relative;
        display: inline-block;

        &:hover{
            .volume-slider{
                display: block;
            }
        }

        &.muted{
            .volume-button{
                .fa-volume{
                    display: none;
                }

                .fa-volume-off{
                    display: inline-block;
                }
            }
        }

        .volume-button{
            width: 45px;
            text-align: center;
            cursor: pointer;

            .fa-volume-off{
                display: none;
            }
        }

        .volume-slider{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px;
            transform: rotate(-90deg) translate(80px, -35px);
            background-color: theme-color(primary);
            
            input{
                width: 100px;
                height: 10px;
            }
        }
    }

    audio{
        display: none;
    }
}