body{
    font-family: miller-display, monospace;
    background-color: theme-color(white);
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    font-size: 18px;
}

.content-wrap{
    flex: 1;

    .content{
        width: 100%;
    }
}

.page .content-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 1.9em;
    margin-bottom: $grid-gutter / 2;

    @include media-breakpoint-up(md){
        font-size: 2.5rem;
    }
}

h2{
    font-family: ApercuPro, sans-serif;
    color: theme-color(black);
    font-size: 1em;
    padding-bottom: 5px;
    margin-bottom: $grid-gutter;
    text-transform: uppercase;
    border-bottom: 1px solid grey;
}

h5{
    font-family: ApercuPro, sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    color: theme-color(darkgrey);
}

a{
    text-decoration: underline;
    color: inherit;


    &.button{
        display: inline-block;
        font-family: ApercuPro, sans-serif;
        border: 1px solid theme-color(white);
        color: theme-color(white);
        padding: .5em 1em;
        border-radius: 2.5em;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        transition: .25s;

        &.dark{
            border: 1px solid theme-color(primary);
            color: theme-color(primary);

            &:hover{
                color: theme-color(white);
            }
        }

        &:hover{
            text-decoration: none;
            background-color: theme-color(primary);
        }
    }
}

img{
    max-width: 100%;
    height: auto;
}

//Searchbar
.searchbar{
    margin-bottom: $grid-gutter;

    #ajaxsearchlite1{
        .probox{
            border: 1px solid theme-color(darkgrey);
            background: transparent;
        }
    }
}

#ajaxsearchliteres1{
    background-color: theme-color(white);
    border: 1px solid theme0color(grey);

    .results{
        .item{
            background-color: theme-color(white);
            padding: 10px;

            h3 a{
                font-family: miller-display, monospace!important;
                color: theme-color(primary);
                font-size: 1.2em;
            }
        }
    }
}

//PLAYER

#podcastPlayer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 999;
    color: theme-color(white);
    background-color: theme-color(primary);
    padding: 10px $grid-gutter / 2;
    transform: translateY(100%);
    font-family: ApercuPro, sans-serif;
    transition: .5s;

    @include media-breakpoint-up(md){
        padding: $grid-gutter / 2;
    }
    
    .fa-pause{
        display: none;
    }
    
    &[data-status="play"]{
        .fa-play{
            display: none;
        }
        
        .fa-pause{
            display: inline-block;
        }
    }
    
    
    a{
        cursor: pointer;
        transition: .25s;
        text-decoration: none;
        
        &:hover{
            opacity: .8;
            color: theme-color(white);
        }
    }

    .container{
        display: flex;
        flex-flow: row wrap;
        padding: 0
    }
    
    .episode-link{
        padding-bottom: 10px;
        text-transform: uppercase;
        flex: 1 100%;
    }
    
    .playback{
        margin-right: $grid-gutter / 2;

        .play{
            padding: 0 10px;
        }

        .plus15, 
        .minus15{
            display: none;
        }

        @include media-breakpoint-up(md){
            margin-right: $grid-gutter;

            .play{
                padding: 0 $grid-gutter / 2;
            }

            .plus15, 
            .minus15{
                display: inline-block;
            }
        }
    }

    .status{
        flex: 1;
        display: flex;
        justify-content: center;
        
        @include media-breakpoint-up(md){
            margin-right: $grid-gutter;
        }

        .timing{
            display: none;

            @include media-breakpoint-up(md){
                display: block;
                font-size: .9em;
                width: 100px;
                text-align: right;
                padding-right: 10px;
            }
        }

        .playbar{
            flex: 1;
        }
    }

    progress{
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;

        width: 100%;
        height: 20px;
        padding: 9px 0;
        background-color: transparent;
        
        &::-webkit-progress-bar {
            background-color: theme-color(darkgrey);
            height: 2px;
        }
        
        &::-webkit-progress-value {
            position: relative;
            height: 2px;
            background-color: theme-color(white);

            &::after {
                content: '';
                width: 10px;
                height: 10px;
                position: absolute;
                border-radius: 100%;
                right: 0px;
                top: 1px;
                background-color: theme-color(white);
            }
        }

    }

    .volume-wrap{
        position: relative;
        display: inline-block;

        &:hover{
            .volume-slider{
                display: block;
            }
        }

        &.muted{
            .volume-button{
                .fa-volume{
                    display: none;
                }

                .fa-volume-off{
                    display: inline-block;
                }
            }
        }

        .volume-button{
            width: 45px;
            text-align: center;
            cursor: pointer;

            .fa-volume-off{
                display: none;
            }
        }

        .volume-slider{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px;
            transform: rotate(-90deg) translate(80px, -35px);
            background-color: theme-color(primary);
            
            input{
                width: 100px;
                height: 10px;
            }
        }
    }

    audio{
        display: none;
    }

    .extra{
        display: none;

        @include media-breakpoint-up(md){
            display: block;
        }
    }
}

body[data-player]{
    #podcastPlayer{
        transform: translateY(0);
    }

    footer.content-info{
        margin-bottom: 80px;

        @include media-breakpoint-up(md){
            margin-bottom: 110px;
        }
    }
}

//Swup Transitions
.transition-fade {
    transition: 0.4s;
    opacity: 1;
  }
  
  html.is-animating .transition-fade {
    opacity: 0;
  }