/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #10163A,
  black: hsl(0, 0%, 7%),
  white: #EDEBE6,
  grey: #F5F5F5,
  darkgrey: #9B9B9B,
  beige: #EDE9E4
);

$grid-gutter: 50px;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
