footer.content-info{
    padding: $grid-gutter 0;
    text-align: center;

    .footer-nav{
        text-align: right;

        li{
            list-style: none;
            display: inline-block;
            margin-left: $grid-gutter / 2;

            a{
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}