.banner{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: theme-color(primary);
  display: flex;
  padding: 10px $grid-gutter / 2;
  justify-content: space-between;

  a{
    color: theme-color(white);
  }

  .nav-primary{

    ul{
      justify-content: flex-end;
    }

    li {
      @extend .nav-item;
      list-style: none;
      display: inline-block;

      li{
        display: none;
      }
    }

    a {
      @extend .nav-link;
    }
  }

  .subscribe{
    display: inline-block;
    padding: .5em 1em;
    border-radius: 2em;
  }
}