.page.home{
    .content-wrap{
        padding-top: 0;
    }

    #top{
        background-color: theme-color(primary);
        color: theme-color(white);
        height: 100vh;
        display: flex;
        flex-direction: row;

        
        #latestEpisode,
        #intro{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: $grid-gutter;
            flex-direction: column;
        }

        .shuffle{
            position: absolute;
            left: $grid-gutter / 2;
            bottom: $grid-gutter / 2;
            border: 1px solid theme-color(white);
            padding: 5px 10px;
            border-radius: 100%;
        }
    }

    #episodes{
        padding: $grid-gutter 0;
        background-color: theme-color(grey);

        .container{
            max-width: 600px;
        }

        .button{
            margin: auto;
        }

        .episodes-footer{
            margin-top: $grid-gutter;
            text-align: center;
        }
    }
}

.page.episodes{
    #intro{
        text-align: center;
    }
}


// EPISODE BLOCKS

.episode{
    padding: $grid-gutter / 2;
    margin-bottom: $grid-gutter / 2;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    background-color: theme-color(white);

    .info{
        display: flex;
        flex-direction: column;

        .header{
            color: theme-color(darkgrey);
        }

        .title{
            flex: 1;
            display: flex;
            align-items: center;
        }

        .footer{
            display: flex;
            justify-content: space-between;

            .info{
                color: theme-color(darkgrey);
            }
        }
    }
}