.page.home{
    .content-wrap{
        padding-top: 0;
    }

    .banner{
        margin-bottom: 0;
    }

    #top{
        background-color: theme-color(primary);
        color: theme-color(white);
        height: 100vh;
        display: flex;
        flex-direction: row;

        
        #latestEpisode,
        #intro{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: $grid-gutter;
            flex-direction: column;
        }

        .shuffle{
            position: absolute;
            left: $grid-gutter / 2;
            bottom: $grid-gutter / 2;
            border: 1px solid theme-color(white);
            padding: 5px 10px;
            border-radius: 100%;
        }

        #latestEpisode{
            .episode{
                background-color: transparent;
                box-shadow: 0 0;
            }

            .thumbnail{
                width: 300px;
                height: 300px;
        
                .white{
                    width: 250px;
                    height: 250px;
        
                    .image{
                        width: 200px;
                        height: 200px;
                    }
                }
            }
        }
    }

    #episodes{
        padding: $grid-gutter 0;
        background-color: theme-color(grey);

        .container{
            max-width: 600px;
        }

        .button{
            margin: auto;
        }

        .episodes-footer{
            margin-top: $grid-gutter;
            text-align: center;
        }
    }
}

.page.episodes{
    #intro{
        text-align: center;
    }
}

// About
.page.about{
    h3{
        font-size: 30px;
        line-height: 1.5em;
    }

    .leftbar{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
}


// EPISODE BLOCKS

.episode{
    padding: $grid-gutter / 2;
    margin-bottom: $grid-gutter / 2;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    display: flex;
    //background-color: theme-color(white);

    .thumbnail{
        position: relative;
        margin: auto;
        width: 200px;
        height: 200px;
        background: theme-color(primary);
        cursor: pointer;

        &:hover{
            .play{
                opacity: 1;
            }

            .white{
                transform: scale(1.05);

                .image{
                    transform: scale(1.05);
                }
            }
        }

        .play{
            opacity: 0;
            transition: .25s;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $white;
            font-size: 40px;

            .fa-pause{
                display: none;
            }
        }

        &.playing{
            .play{
                opacity: 1;

                .fa-pause{
                    display: inline-block;
                }

                .fa-play{
                    display: none;
                }
            }
        }

        .white{
            width: 170px;
            height: 170px;
            background: theme-color(white);
            transition: .25s;

            .image{
                width: 140px;
                height: 140px;
                background-size: cover;
                background-size: 160%;
                background-position: center;
                transition: .5s;
            }
        }
    }

    .thumbnail,
    .white,
    .image{
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info{
        flex: 1;
        padding-left: $grid-gutter;
        display: flex;
        flex-direction: column;

        .header{
            font-size: .8em;
            padding-bottom: 10px;
        }

        .title{
            flex: 1;

            a{
                text-decoration: none;
            }
        }

        .footer{
            display: flex;
            justify-content: space-between;

            .info{
                color: theme-color(darkgrey);
            }
        }
    }
}

// Episodes page
#archive{
    h2{
        margin-bottom: 10px;
    }

    #tags{
        margin-bottom: $grid-gutter / 2;

        .header{
            margin-bottom: 10px;

            a{
                cursor: pointer;
                display: inline-block;
                margin-right: $grid-gutter / 2;

                .fas{
                    padding-left: 5px;
                }

                .fa-sort-down{
                    transform: translateY(-2px);
                }

                .fa-sort-up{
                    transform: translateY(5px);
                    display: none;
                }

                &.active{
                    .fa-sort-up{
                        display: inline-block;
                    }
                    .fa-sort-down{
                        display: none;
                    }   
                }
            }

            .reset{
                opacity: 0;
                transition: .25s;
                cursor: default;

                &.active{
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }
        
        .tag-cat{
            display: none;
            padding: 20px 10px 10px;
            background: theme-color(beige);

            &.active{
                display: block;
            }
        }

        button{
            @extend a.button;
            font-size: .8em;
            color: theme-color(white);
            background-color: theme-color(darkbeige);
            padding: 5px 10px;
            margin-left: 10px;
            margin-bottom: 10px;

            &.active{
                background-color: theme-color(primary);
            }
        }
    }

    .episodes{
        .gutter-sizer{
            width: 3%
        }

        .episode{
            width: 30%;
            flex-flow: column;
            
            .info{
                padding-top: $grid-gutter / 2;
                padding-left: 0;
            }
        }
    }
}