.single-post{
    .banner{
        margin-bottom: 0;
    }

    main .container{
        max-width: 800px;
        padding: $grid-gutter 0;
    }

    #top{
        background-color: theme-color(primary);
        @extend .colored;
        color: theme-color(white);
        display: flex;
        flex-direction: row;

            .episode{
                background-color: transparent;
                box-shadow: 0 0;
                margin-bottom: 0;
                padding: 0;

                &.playing,
                &.paused{
                    border: 0;
                }

                .thumbnail{
                    cursor: default;

                    &:hover{
                        .white{
                            .image{
                                transform: scale(1);
                            }
                        }
                    }
                }

                .title{
                    h5{
                        color: theme-color(white);
                    }

                    h4 a{
                        cursor: default;

                        &:hover{
                            color: theme-color(white);
                        }
                    }
                }

                // .info{
                //     .play{
                //         border-color: theme-color(white);

                //         &:hover{
                //             background-color: rgba(theme-color(white), .2);
                //         }
                //     }
                // }

                .thumbnail-wrap{
                    width: 200px;
                }
            }
    }

    #episodeContent{
        padding: 0 $grid-gutter / 2;

        .notes{
            margin-top: $grid-gutter;
            padding-top: $grid-gutter;
            border-top: 1px solid theme-color(darkgrey);
        }
    }
}