.single-post{
    .banner{
        margin-bottom: 0;
    }

    main .container{
        max-width: 800px;
        padding: $grid-gutter 0;
    }

    #top{
        background-color: theme-color(primary);
        @extend .colored;
        color: theme-color(white);
        display: flex;
        flex-direction: row;

            .episode{
                background-color: transparent;
                box-shadow: 0 0;
                margin-bottom: 0;
                padding: 0;

                .thumbnail-wrap{
                    width: 200px;
                }
            }
    }

    #episodeContent{

        .notes{
            margin-top: $grid-gutter;
            padding-top: $grid-gutter;
            border-top: 1px solid theme-color(darkgrey);
        }
    }
}