.single-post{
    .banner{
        margin-bottom: 0;
    }

    #top{
        @extend .colored;
        background-color: theme-color(primary);
        color: theme-color(white);
        height: 100vh;
        display: flex;
        flex-direction: row;
        
        #episode,
        #content{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: $grid-gutter;
            flex-direction: column;
        }

        #episode{
            background-color: rgba(theme-color(white), .5);

            .episode{
                background-color: transparent;
                box-shadow: 0 0;
            }
        }
    }
}